<header>
  <h1>ねこったー</h1>
</header>
<div class ="contents">
  <div class ="message clearfix">
    <%= image_tag "cat1.png" %>
    <div class="message_box">
      <p class = "user_name">ashyuu<span class ="time">・4月30日</span></p>
      <p class = "text">
        ねこったーを作っています。Githubの練習です
      </p>
    </div>
  </div>
</div>
<div class ="contents">
  <div class ="message clearfix">
    <%= image_tag "cat1.png" %>
    <div class="message_box">
      <p class = "user_name">ashyuu<span class ="time">・4月30日</span></p>
      <p class = "text">
        ねこったーを作っています。Githubの練習です
      </p>
    </div>
  </div>
</div>
<div class ="contents">
  <div class ="message clearfix">
    <%= image_tag "cat1.png" %>
    <div class="message_box">
      <p class = "user_name">ashyuu<span class ="time">・4月30日</span></p>
      <p class = "text">
        ねこったーを作っています。Githubの練習です
      </p>
    </div>
  </div>
</div>
